html {
    background: #b00404;
}
body{
    width: 600px;
    margin: 0 auto;
    border: 5px solid #c81212;
    background: radial-gradient(circle farthest-side, rgba(255, 0, 0, 0.942), rgb(70 15 15 / 95%));
    padding: 0px 0px 200px 0px;
}

img{
    display: block;
    margin: 0 auto;
}

h1{
    font-size: 80px;
    text-align: center;
    text-shadow: 2px 2px 4px red;
}

p{
    text-align:center;
    font-size: 40px;
    text-shadow: 2px 3px 4px red;
}

h2{
    font-size: 35px;
    text-align:center;
    margin-top: 200px;;
}

